/*
 * SimpleModal Basic Modal Dialog
 * http://www.ericmmartin.com/projects/simplemodal/
 * http://code.google.com/p/simplemodal/
 *
 * Copyright (c) 2010 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 *
 * Revision: $Id: basic.css 257 2010-07-27 23:06:56Z emartin24 $
 */

#basic-modal-content {
  display:none;
}

#simplemodal-overlay {
  background-color: #666;
}

/* Container */
#simplemodal-container {
  background-color:#FFF;
  border:2px solid #444;
  color:#000;
  height:400px;
  padding:12px;  
  width:700px;
}

#simplemodal-container .simplemodal-data {
  padding:8px;
}

#simplemodal-container code {
  background:#141414;
  border-left:3px solid #65B43D;
  color:#BBB;
  display:block;
  font-size:12px;
  margin-bottom:12px;
  padding:4px 6px 6px;
}

#simplemodal-container a {
  color:#DDD;
}

#simplemodal-container a.modalCloseImg {
  background:url(../img/close_button.png) no-repeat;
  cursor:pointer;
  display:inline;
  height:29px;
  position:absolute;
  right:-16px;
  top:-15px;
  width:31px;
  z-index:9999;
}

#simplemodal-container h3 {
  color:#84b8d9;
}
