/* $Id$ */
/*
*  @file mock_default.css
*/


/**
* Mock List Screen
*/

div#return_type_modal {
  display: none;
  height: 395px !important;
  overflow: auto !important;
  width: 695px!important;
}

div.message-status-changed {
  background-color: #FFF !important;
  border: 1px solid #C7F2C8 !important;
  color: #33A333 !important;
  display: none;
  padding-left: 5px !important;
  opacity: 0.75 !important;
}

p.no-mock-registered {
  font: bold 14px arial !important;
  margin-top: 40px !important;
  text-align: center !important;
}

/* Fieldset for list Mocks */

/* table listing of category mocks  */
table.mock-list-page theader th,
table.mock-list-page tbody td,
table.mock-list-page tbody td div{
  white-space: normal !important;
  word-wrap: break-word !important;
}

table.mock-list-page theader th.col0,
table.mock-list-page tbody td.col0,
table.mock-list-page tbody td.col0 div {
  width: 130px !important;
}

table.mock-list-page theader th.col1,
table.mock-list-page tbody td.col1 {
  width: 45px !important;
}

table.mock-list-page theader th.col2,
table.mock-list-page tbody td.col2 {
  width: 240px !important;
  overflow: hidden;
}

table.mock-list-page theader th.col3,
table.mock-list-page tbody td.col3 {
  width: 50px !important;
}

table.mock-list-page theader th.col4,
table.mock-list-page tbody td.col4 {
  width: 50px !important;
}

table.mock-list-page theader th.col5,
table.mock-list-page tbody td.col5,
table.mock-list-page tbody td.col5 ul {
  width: 225px !important;
}

table.mock-list-page tbody td.col5 ul li {
  background-image: none !important;
  height: 20px;
  padding-left: 0px !important;
  text-decoration: underline;
}


body.page-admin-settings-mock fieldset,
body.page-admin-settings-mock-list fieldset {
  border: 1px solid #000 !important;
  padding: 13px 13px 7px 13px !important;
}

body.page-admin-settings-mock fieldset legend a,
body.page-admin-settings-mock-list fieldset legend a {
  text-decoration: none !important;
}

body.page-admin-settings-mock fieldset .collapsed,
body.page-admin-settings-mock-list fieldset .collapsed {
  border: 0px !important;
}

body.page-admin-settings-mock fieldset .collapsed,
body.page-admin-settings-mock fieldset .collapsed legend a {
  text-decoration: underline !important;
}


form#mock-module-mock-list-form div.observation-note {
  border: 1px solid #D9EAF5 !important;
  margin-bottom: 25px !important;
}

form#mock-module-mock-list-form ul.mock_return_types li a {
  float: left;
}

form#mock-module-mock-list-form ul.mock_return_types li a.return-type-content {
  clear: left;
}

form#mock-module-mock-list-form ul.mock_return_types li a.edit-return,
form#mock-module-mock-list-form ul.mock_return_types li a.remove-return {
  cursor: pointer;
  display: block;
  height: 22px;
  margin-left: 4px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 22px;
}

form#mock-module-mock-list-form ul.mock_return_types li a.edit-return {
  background: url(../images/edit_icon.png) no-repeat scroll left top transparent;
}

form#mock-module-mock-list-form ul.mock_return_types li a.remove-return {
  background: url(../images/remove_icon.png) no-repeat scroll left top transparent;
}


/* Mock List */
form#mock-module-mock-list-form fieldset.mock-return-active {
  border: 1px solid #00AA00 !important;
}

form#mock-module-mock-list-form fieldset.mock-return-active a {
  color: #00AA00 !important;
  font-weight: bold !important;
}

form#mock-module-mock-list-form fieldset.mock-return-inactive {
  border: 1px solid #EE0A0A !important;
}

form#mock-module-mock-list-form fieldset.mock-return-inactive a {
  color: #EE0A0A !important;
  font-weight: bold !important;
}

form#mock-module-mock-list-form fieldset .btn-set-active-status {
  margin: 15px 0px !important;
}

form#mock-module-mock-list-form fieldset .add-return {
  font-color: #5895BE !important;
  font-weight: bold  !important;
}

form#mock-module-mock-list-form div#edit-all-mock-status-wrapper label {
  float:left !important;
  margin-right:10px !important;
}

div #category_list_div {
  width: 100%;
}

/* Modal - Fieldset's Return Type */
div#return_type_modal fieldset.mock-return-code legend a {
  bacground-color: #FFF !important;  
  border: 1px solid #D9EAF5;
  color: #000 !important;
  cursor: pointer;
  font-weight: bold !important;
}


/* Table list contents forms below */
table {
    margin: 1em 0;
    width: 100%;
}
thead th {
    border-bottom: 2px solid #D3E7F4;
    color: #494949;
    font-weight: bold;
}
th a:link, th a:visited {
    color: #6F9DBD;
}
td, th {
    padding: 0.3em 0.5em;
}
tr.even, tr.odd, tbody th {
    border-color: #D3E7F4;
    border-style: solid;
    border-width: 1px 0;
}
tr.odd, tr.info {
    background-color: #EDF5FA;
}
tr.even {
    background-color: #FFFFFF;
}
tr.odd td.active {
    background-color: #DDECF5;
}
tr.even td.active {
    background-color: #E6F1F7;
}
